/* Questo css è relativo alla pagina index.js */

.home {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../public/images/home-bg-img.png');
    background-size: cover;
    background-position: center;
}

.home .image img {
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}


.home .content h3 {
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
}

.home .content span {
    color: var(--pink);
    text-transform: uppercase;
}

.home .content p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all 0.3s linear;
}

.btn:hover {
    transform: scale(1.1);
}


@media (max-width: 991px) {
    .home {
        padding: 0 3%;
        padding-top: 7.5rem;
        flex-flow: column-reverse;
        margin-bottom: 50px;
    }
    .home .image img {
        width: 100%;
    }

    .home .content h3 {
        font-size: 3.6rem;
    }

    .home .content p {
        font-size: 1.7rem;
    }
}




@media (max-width: 450px) {
    .home {
        z-index: -1;
    }
    /* .newsletter form{
        max-width: 45rem;
    } */
    .newsletter h3 {
        color: black;
    }

}